# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# misc
.DS_Store

# Dev db data
db

# TypeScript
build
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
